h2 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 7px;
}

#about {
  max-width: 100%;
}

p {
  text-align: center;
  font-size: 1.5rem;
  margin-right: 13%;
  margin-left: 13%;
}

.image-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 600px;
  opacity: 0;
  background-color: rgba(198, 217, 136, 0.5);
  color: goldenrod;
  text-align: center;
  transition: opacity 0.3s;
  font-size: 2.5rem;


}

.caption h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container:hover .caption {
  opacity: 1;
}

.image-container img {
  width: 1200px;
  height: 600px;
  transition: filter 0.3s;

}

.image-container:hover img {
  filter: brightness(50%);
}

h6 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: goldenrod;
  text-align: center;
}

@media(max-width: 750px) {
  #about {
    max-width: 100%;
  }

  nav a {
    max-width: 65%;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: rgb(12, 11, 12);
    margin-right: 10%;
  }

  a:link {
    background-color: goldenrod;
  }

  a:hover {
    background-color: gold;
  }

  .active {
    background-color: antiquewhite;
    color: black;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  .caption {
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 360px;
  }

  .image-container {
    max-width: 100%;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .animaztia {
    display: none;
  }

}

@media (min-width: 751px) and (max-width: 1250px) {
  #about {
    max-width: 100%;
  }

  nav a {
    max-width: 65%;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: rgb(12, 11, 12);
    margin-left: 7%;
  }

  a:link {
    background-color: goldenrod;
  }

  a:hover {
    background-color: gold;
  }

  .active {
    background-color: antiquewhite;
    color: black;
  }

  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    margin-left: 35px;
    margin-right: 35px;
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  .caption {
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:100%;
  }

  .image-container {
    max-width: 95%;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .animaztia {
    display: none;
  }

}